
.programListContainer {
    position: relative;
    margin: 0 auto;
    width: 780px;
    /*
    display: flex;
    flex-wrap: wrap;
    justify-content: center;*/
}
.program {
    position: absolute;
    top: 14vh;
    display: flex;
    flex-direction: column;
    width: 180px;
    /*margin: 20px;*/
    cursor: pointer;
    transition: all .5s cubic-bezier(0.815, 0.020, 0.300, 1.005);
}

.programImg {
    width: 180px;
    height: 120px;	
    margin-bottom: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    
}
.programTitle {
    font-weight: bolder;
    flex: 1 1 auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.btnDiv {
    position: relative;
    display: flex;
    justify-content: center;
    top: 20px;

}

button {
    padding: 8px 16px;
    font-size: 15px;
    text-align: center;
    color: #2a344a;
    background: rgb(224, 224, 224);
    cursor: pointer;
    transition: all 0.2s ease-out;
    
}


button.active {
    background: #2a344a;
    color: #fff;
}

.title {
    top: 14vh;
    position: absolute;
    width: 200px;
    font-size: 2rem;
    font-weight: bolder;
    z-index: 1;
    opacity: 0;
    transition: all .5s cubic-bezier(0.815, 0.020, 0.300, 1.005);
}


